body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.hide {
    display: none;
}

.error {
    color: red;
}

.sa-img-box {
    text-align: center;
}

.sa-name {
    text-align: center;
}

.sa-img {
    height: 200px;
    width: 200px;
}

.sa-social-lnk {
    text-decoration: none;
}

.sa-fa-s-lnk {
    color: black;
    font-size: 100px;
}

.sa-home-card {
    padding: 20px 20px 20px 20px;
    background-color: #f8f9fa;
}

.sa-red {
    color: red;
}

.tag_space {
    margin: 5px 5px 5px 5px;
}